# Part I. Introduction to Python & the Scientific Libraries

* #### Introduction to Python

  - Data types
  - Functions
  - Iterations
  - etc. 


* #### Numpy  
  https://numpy.org/doc/stable/


* #### Scipy  
  https://docs.scipy.org/doc/scipy/


* #### Pandas  
  https://pandas.pydata.org/docs/


* #### Matplotlib  
  https://matplotlib.org/

In [1]:
%pwd  # get present working directory

'E:\\Desktop\\2025 Autumn Big Data Analysis Method and Application\\Lecture_1'

## Data Types

### Boolean Value

Boolean values can be either `True` or `False`.

In [2]:
x = True

In [3]:
x

True

In [4]:
type(x)

bool

In [5]:
y = 100 < 10

In [6]:
y

False

In arithmetic expressions, `True` is converted to `1` and `False` is converted `0`.

This is called Boolean arithmetic and is often useful in programming.

In [7]:
x == 1  # here `==` evaluates whether lhs = rhs

True

In [8]:
y != 1  # here `!=` evaluates whether lhs is not equal to rhs

True

In [9]:
y == 0

True

In [10]:
y == 1

False

In [11]:
x + y

1

### Numeric Types

Numeric types are also important primitive data types.

They mainly include `integer`, `float`, and `complex` types.

In [12]:
x = 3

In [13]:
type(x)

int

In [14]:
y = 2.

In [15]:
type(y)

float

In [16]:
z = complex(1,2)

In [17]:
z

(1+2j)

In [18]:
type(z)

complex

### String

In [19]:
x = 'Quantitative Economics'
x

'Quantitative Economics'

In [20]:
type(x)

str

In [21]:
y = "Finance"
y

'Finance'

In [22]:
type(y)

str

### List

Lists are a native Python data structure used to group a collection of arbitrary objects.

In [23]:
subjects = ['Mathematics', 'Economics']

In [24]:
subjects

['Mathematics', 'Economics']

In [25]:
type(subjects)

list

In [26]:
subjects[0]

'Mathematics'

#### Mutability and Copying Lists

In Python, an object is called **immutable** if, once created, the object cannot be changed.

Conversely, an object is **mutable** if it can still be altered after creation.

Python lists are mutable.

In [30]:
subjects[-1] = 'Finance'

In [31]:
subjects

['Mathematics', 'Finance']

Now we assign `subjects` to `subjects_2`.

In [32]:
subjects_2 = subjects

In [33]:
subjects_2

['Mathematics', 'Finance']

We then make changes to `subjects_2`.

In [34]:
subjects_2[-1] = 'Computer Science'
subjects_2

['Mathematics', 'Computer Science']

The following shows that, the changes we made to `subjects_2` will happen to `subjects` as well.

In [35]:
subjects

['Mathematics', 'Computer Science']

This is because when `subjects` is defined, an object is created and stored in memory.

The variable `subjects` and `subjects_2` are just **pointers** pointing toward the same object in memory. 

Hence, any in-place change to one variable will be transferred to the other. 

To see this, we can use the built-in function `id()` to return and compare their memory addresses.

In [36]:
id(subjects), id(subjects_2), id(subjects)==id(subjects_2)

(2558527860672, 2558527860672, True)

To avoid this issue and obtain a copy of `subjects`, we can do the following.

In [37]:
subjects_3 = subjects[:]
subjects_3

['Mathematics', 'Computer Science']

This time `subjects_3` and `subjects` point to different objects in memory.

Hence, changes to `subject_3` will not be transferred to `subjects`.

In [38]:
id(subjects_3), id(subjects), id(subjects)==id(subjects_3)

(2558527934848, 2558527860672, False)

In [39]:
subjects_3[-1] = 'Economics'
subjects_3

['Mathematics', 'Economics']

In [40]:
subjects

['Mathematics', 'Computer Science']

Alternatively, we can do the following.

In [41]:
subjects_4 = subjects.copy()
id(subjects), id(subjects_4), id(subjects)==id(subjects_4)

(2558527860672, 2558527814976, False)

In [42]:
subjects_4[-1] = 'Physics'
subjects_4

['Mathematics', 'Physics']

In [43]:
subjects

['Mathematics', 'Computer Science']

#### Adding items to an existing list

In [44]:
subjects.append('Economics')
subjects

['Mathematics', 'Computer Science', 'Economics']

In [45]:
subjects.extend(['Politics', 'Arts'])
subjects

['Mathematics', 'Computer Science', 'Economics', 'Politics', 'Arts']

#### Removing items from an existing list

In [46]:
subjects.pop(-2)
subjects

['Mathematics', 'Computer Science', 'Economics', 'Arts']

In [47]:
subjects.pop()
subjects

['Mathematics', 'Computer Science', 'Economics']

### Tuple

A related data type is **tuple**, which can be viewed as “immutable” lists.

In [48]:
x = (100, 50)

In [49]:
x[0]

100

In [50]:
x[0] = 5

TypeError: 'tuple' object does not support item assignment

Tuples (and lists) can be unpacked as follows.

In [51]:
x1, x2 = x
x1

100

In [52]:
x2

50

### Dictionary

Dictionaries are much like lists, except that the items are named instead of numbered.

In [53]:
dic1 = {'P': 'Python', 'M': 'Matlab'}

In [54]:
type(dic1)

dict

In [55]:
dic1

{'P': 'Python', 'M': 'Matlab'}

In [56]:
dic1.keys()

dict_keys(['P', 'M'])

In [57]:
dic1.values()

dict_values(['Python', 'Matlab'])

In [58]:
dic1.items()

dict_items([('P', 'Python'), ('M', 'Matlab')])

In [59]:
dic1['P']

'Python'

In [60]:
dic1['J'] = 'Java'

In [61]:
dic1

{'P': 'Python', 'M': 'Matlab', 'J': 'Java'}

In [62]:
del dic1['M']
dic1

{'P': 'Python', 'J': 'Java'}

In [63]:
for key in dic1.keys():
    print(key, ':', dic1[key])

P : Python
J : Java

To obtain a copy of a dictionary, we can do the following.

In [64]:
dic2 = dic1.copy()
id(dic1) == id(dic2)

False

### Set

Sets are unordered collections without duplicates, and set methods provide the usual set-theoretic operations.

In [65]:
set1 = {'Python', 'Julia'}

In [66]:
set1

{'Julia', 'Python'}

In [67]:
type(set1)

set

In [68]:
set2 = {'R', 'Matlab'}

In [69]:
set3 = set1 | set2
set3

{'Julia', 'Matlab', 'Python', 'R'}

In [70]:
set1.union(set2)

{'Julia', 'Matlab', 'Python', 'R'}

In [71]:
set4 = set1 & set2
set4

set()

In [72]:
set1.intersection(set2)

set()

In [73]:
set1.issubset(set2)

False

The `set()` function creates sets from sequences.

In [74]:
y = [1.,2,3,4]
y = set(y)
y

{1.0, 2, 3, 4}

In [75]:
z = set(('Python', 'Julia'))
z

{'Julia', 'Python'}